body{
    background-color: wheat;
}
.divH2{
    display: flex;
    justify-content: center;
}
.h2{
    width: 80%;
}
.contenedor{
    display: flex;
    flex-flow: row wrap;
}
#nombre{
    margin-right: 35%;
    margin-left: 35%;
    margin-bottom: 1%;
    width: 40%;
    height: 40px;
}
.giphy-embed{
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 3%;
}
#producto{
    margin-left: 35%;
    margin-right: 2%;
}
#precio{
    margin-right: 1%;
}
#calcular{
    margin-top: 2%;
    margin-left: 40%;
}